 body {
  font-family: 'Poppins', sans-serif;
}


.hero {
  height: 100vh;
}

.hero h1, .hero p {
  text-shadow: 5px 5px 7px rgba(0,0,0,0.7);
}
.card {
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}
footer {
  font-size: 14px;
}
